<h1>Adding Article</h1>
<form action="/articles" method="POST">
<h2>Title</h2>
<input type=text name="title"><br>
<h2>content</h2><br>
<input type="text" name="content"><br>
<input type=submit>
</form>